@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="row">
        <aside class="col-sm-3">
            <form method="post">
                <div class="card">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Filter </h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group">
                                        <label asp-for="filterModel.CookingTimeInMins" class="control-label"></label>
                                        <input asp-for="filterModel.CookingTimeInMins" class="form-control" />
                                        <span asp-validation-for="filterModel.CookingTimeInMins" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label asp-for="filterModel.CategoryId" class="control-label"></label>
                                        <select asp-for="filterModel.CategoryId" class="form-select" asp-items="ViewBag.CategoryId">
                                            <option value="">Select a Category</option>
                                        </select>
                                        <span asp-validation-for="filterModel.CategoryId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label asp-for="filterModel.Ingredients" class="control-label"></label>
                                        <input asp-for="filterModel.Ingredients" class="form-control" />
                                        <span asp-validation-for="filterModel.Ingredients" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row"></div>
                                <div class="form-row  mt-2" >
                                    <div>
                                        <input type="submit" value="Filter" class="btn btn-primary" />
                                        <button type="reset" class="btn btn-secondary">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </form>
        </aside>
        <aside class="col-sm-9">
            <div class="grid-container">
                @foreach (var item in Model.Recipe)
                {
                    <div class="card" style="width: 18rem;border:none;">
                        <a asp-page="/Recipe/Details" asp-route-id="@item.Id" style="text-decoration:none"> <img class="card-img-top" src="@Url.Content("/uploads/images/"+ item.RecipeImages[0])" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title"> <a asp-page="/Recipe/Details" asp-route-id="@item.Id" class="card-link" style="text-decoration:none">@item.Title</a></h5>
                            <p class="card-text"><a asp-area="" asp-page="/User/Details" asp-route-id="@item.AuthorId" class="card-link" style="text-decoration:none">@item.Author.UserName</a></p>
                        </div>
                    </div>
                }
            </div>
        </aside>
    </div>
</div>




